{% extends 'base.html.twig' %}

{% block title %}NotesApp{% endblock %}

{% block container %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for note in notes %}
            <div class="col">
                {{ include('note/note_card.html.twig', {note: note}) }}
            </div>
        {% endfor %}
    </div>
{% endblock %}