<div class="card h-100">
    <div class="card-body">
        <h5 class="card-title">{{ folder.name }}</h5>
{#        <a href="" class="btn note-card-btn edit-link">Edit</a>#}
        <form action="{{ path('folder_delete', {'id': folder.id}) }}" method="post">
            <input type="hidden" name="token" value="{{ csrf_token('delete-folder') }}">
            <button type="submit" class="btn note-delete-btn note-card-btn">Delete</button>
        </form>
    </div>
    <div class="card-footer">
        <small class="text-muted">Created at: {{ folder.createdAt | date }}</small>
    </div>
</div>