@media (min-width: 1200px) {
    .container {
        max-width: 60%;
    }
}

header {
    margin-top: 4rem;
}

@media (max-width: 776px) {
    header {
        margin-top: 1em;
    }
}

nav {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #525252 !important;
}

.edit-link, .edit-link:hover {
    color: #e0b819;
}

.delete-link, .delete-link:hover {
    color: #cf2525;
    margin-left: 4px;
}