@media (min-width: 1200px) {
    .container {
        max-width: 50%;
    }
}

header {
    margin-top: 5rem;
}

nav {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #525252 !important;
}

.edit-link {
    color: #e0b819;
}