@media (min-width: 1200px) {
    .container {
        max-width: 60%;
    }
}

header {
    margin-top: 4rem;
}

@media (max-width: 776px) {
    header {
        margin-top: 1em;
    }
}

nav {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #525252 !important;
}

.edit-link, .edit-link:hover {
    color: #ffb01c;
}

.delete-link, .delete-link:hover {
    color: #cf2525;
    margin-left: 4px;
}

.search-form {
    float: right;
}

.nav-search-bar > .mb-3 {
    margin: 0 !important;
}

.nav-search-bar > .mb-3 > label {
    display: none;
}

.nav-search-bar > .mb-3 > button {
    margin-left: 8px;
}

.note-card-btn {
    float: left;
    margin-right: 4px;
    padding-left: 6px;
    padding-right: 6px;
    text-decoration: underline;
}

.note-delete-btn, .note-delete-btn:hover {
    color: #cf2525;
}

.yellow-card {
    background-color: #faf8c8;
}

.green-card {
    background-color: #c2fcc8;
}

.blue-card {
    background-color: #bdd7ff;
}

.red-card {
    background-color: #fcc2c2;
}

.main-container {
    margin-bottom: 4rem;
}

button:focus {
    outline: 0 !important;
}

.add-form {
    width: 80%;
    margin: 16px auto 0;
}

.folder-separator {
    width: 100%;
    margin: 4px 0;
    border-radius: 4px;
    background-color: #c7c7c7;
    padding: 0;
}

.folder-name {
    width: 100%;
    margin: 0 auto;
}

.folder-name p {
    margin-left: 16px;
    padding: 12px 0 !important;
}
