<header>
    <div class="container">
        <h1>Notes</h1>

        <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('main_index') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('note_add') }}">Add note</a>
                        </li>
                    </ul>
                    <form name="search_note" method="get" action="{{ path('note_search') }}" class="d-flex search-form nav-search-bar">
                        <div id="search_note" class="d-flex search-form nav-search-bar">
                            <div class="mb-3">
                                <label for="search_note_phrase" class="form-label required">Title</label>
                                <input type="text" id="search_note_phrase" name="phrase" required="required" maxlength="255" minlength="2" class="form-control" />
                            </div>
                            <div class="mb-3">
                                <button type="submit" id="search_note_search" class="btn-secondary btn">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</header>